body{
    background-color: #f0f0f0;
}

.wrapper{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    /*height: 12000px;*/
}
.wrapper-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /*background-color: #f00;*/
}

header{
    background-color: rgba(0, 0, 0, .5);
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    /*padding: 8px;*/
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
header a{
    vertical-align: middle;
    color: #fff;
}

.profile{
    border-left: 1px solid #fff;
    /*默认初始化宽度*/
    flex-basis: 200px;
    text-align: center;
}

.address img, .profile img{
    margin: 8px;
}



/*轮播图*/
.carousel{
    margin-top: 56px;
}
.carousel img{
    width: 100%;
}

@media screen and (max-width: 768px){
    .profile{
        flex-basis: 45% !important;
    }

    .address img, .profile img{
        width: 32px;
    }
    .carousel{
        margin-top: 48px;
    }

}

/*商品列表*/

/*一、商品的标题样式(默认的标题样式)*/
.goods-list-title{
    display: flex;
    margin-bottom: 8px;
}
.goods-list-title-txt, .goods-list-title-ad{
    text-align: center;
    line-height: 2.4;
}
.goods-list-title-txt{
    flex-grow: 1;
    background-color: #999;
    color: #fff;
}
.goods-list-title-ad{
    flex-grow: 2;
    color: #999;
    border: 1px solid #999;
}

/*热销商品的标题*/
.goods-list-title-txt-hot{
    background-color: orange;
}
.goods-list-title-ad{
    color: orange;
    border: 1px solid orange;
}
/*父元素统一添加内边距*/
.goods-list-main{
    padding: 8px;
}

/*商品标题*/
.good-list-h1{
    font-weight: bold;
    line-height: 2.2;
}
.good-list-sale-num, .area{
    font-size: 14px;
    color: #999;
}
.price{
    color: #f00;
    font-size: 18px;
}
.price:before{
    content: "$ ";
    font-size: 14px;
}
.price-area{
    display: flex;
    justify-content: space-between;
}

.goods-list-hot-all li{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
/*奇数位商品*/
.goods-list-hot-all li:nth-child(odd){
    padding-right: 4px;
}
/*偶数位商品*/
.goods-list-hot-all li:nth-child(even){
    padding-left: 4px;
}
/*商品图片宽度与父元素保持一致*/
.item-img{
    width: 100%;
}

/*footer部分*/
.footer-wrap {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white;
}
footer {
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
}
.footer-icon {
    width: 80px;
    height: 100px;
    transform: translateY(-20px);
    background-color: #fff;
    border-radius: 50%;
    padding-left: 8px;
    vertical-align: middle;
    text-align: center;
}

.footer-bottom {
    border-top: 1px solid #999;
 }
.footer-ban , .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    height: 70px;
}
