
.box1 , .box2 {
				border: 1px solid red;
				margin: 0 auto;
				/*margin-top: 10px;*/
			}
			.box1 {
				width: 100px;
				height: 100px;
				/*border-radius: 50%;*/
				border-radius: 50%;
				background-color: #000;
			}
			.box2 {
				width: 0px;
				height: 0px;
				border-top: 10px solid yellow ;
				border-left:10px dashed red ;
				border-bottom: 10px dashed blue;
				border-right:10px dashed black;
				/*border: 50px solid blue;*/
			}
			.box3 {
				width: 120px;
				height: 100px;
				margin: 0 auto;
				border: 1px solid red;
				border-radius:10px 10px 0 0 ;
				background-color: red;
				text-align: center;
				line-height: 100px;
				color: yellow;
				
			}
			.box6{
				margin: 0 auto;
				width: 200px;
				height: 500px;
				border: 1px solid red;
			}
			.box4 , .box5 {
				width: 20px;
				height: 150px;
				border: 1px solid red;
				margin: 0 auto;
				background-color: yellowgreen;
				/*border-radius:0px 0px 5px 5px ;*/
			}
			.box4 {
				float: left;
				margin-left: 60px;
			}
			.box5 {
				float: right;
				margin-right: 60px;
			}
			.top1 , .top2 {
				width: 10px;
				height: 10px;
				background-color: white;
				border: 1px solid yellow;
				margin-top: 35px;
				border-radius: 5px;
			}
			.top1 {
				float: left;
				margin-left: 20px;
			}
			.top2 {
				float: right;
				margin-right: 20px;
			}
			.top3 {
				background-color: yellow;
				border: 1px solid yellow;
				width: 20px;
				height: 10px;
				margin: 70px auto;
				border-radius:50% 50% ;
			}
			.box7 , .box8 {
				width: 30px;
				height:10px;
				border: 1px solid red;
				margin-top: 0px;	
				border-radius:5px;		
			}
			.box7{
				float: left;
				background-color:red ;
				margin-left: 55px;
			}
			.box8 {
				float: right;
				margin-right: 55px;
				background-color:red ;
			}
			.box10 , .box11 {
				width: 30px;
				height: 60px;
				border: 1px solid red;
				border-radius:50%;
			}
			.box10 {
				float: left;
				background-color: blue;
				margin-top: 20px;
				margin-left: 8px;
			}
			.box11 {
				float: right;
				background-color: blue;
				margin-top: -80px;
				margin-right: 8px;
			}
			
