<html>
<head>
    <title>用户信息展示</title>
    <style type="text/css">
        table,td,th{
            border: 1px solid #3c1ac5;
            border-collapse: collapse;
        }
        table{
            margin: 10px auto;
        }
        td,th {
            width: 160px;
            height: 30px;
            line-height: 30px;
        }
        h3 {
            /*background-color: #ffff99;*/
            margin: 10px auto;
            text-align: center;
        }
        .processing {
            margin: 0 auto;
            text-align: center;
        }
        .processing button {
            display: inline-block;
            width: 80px;
            height: 35px;
            margin: 0 10px;
        }
    </style>
</head>
<body>
<h3>全部用户信息</h3>
<table>
    <tr>
        <th>用户名</th>
        <th>邮箱</th>
        <th>密码</th>
    </tr>
    <%
    for (var i = 0; i < all.length ; i++) {
        var name = all[i].name;
        var email = all[i].email;
        var pwd = all[i].password;
    %>
    <tr>
        <td><%= name %></td>
        <td><%= email %></td>
        <td><%= pwd %></td>
    </tr>
    <%}%>
</table>
<div class="processing">
    <button type="button" id="insert">添加</button>
    <button type="button" id="update">修改</button>
    <button type="button" id="delete">删除</button>
</div>
</body>
</html>
