<!--恭喜你，<%= name %>注册成功-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= name%>注册-成功</title>
</head>
<body>
<div class="main">
    <div class="header" >
        <h1>恭喜你 <%= name%>,新用户注册</h1>
    </div>
    <p>我们之间的约会，也许就从注册那一刻就开始了...</p>
</div>
<div class="copy-right">
    <p>用户已存在，去 <a href="../user/index.html" target="_blank" title="去登陆">登录</a> - 使用系统</p>
</div>

</body>
</html>