<!--恭喜你，<%= name %>注册成功-->
<!--用户注册失败 或者 已存在用户 的模板-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= name%>注册-失败</title>
</head>
<body>
<div class="main">
    <div class="header" >
        <h1>抱歉， <%= name%> 已经存在，请重新注册！</h1>
    </div>
    <p>我们之间的误会，也许就从注册那一刻就开始，就无法理清了...</p>
</div>
<div class="copy-right">
    <p>用户已存在，去
        <a href="../user/index.html" target="_blank" title="去登录">登录</a> - 重新
        <a href="../rinsert/index.html" target="_blank" title="新用户注册">注册</a></p>-
        <a href="../index.html" target="_blank" title="跳转首页">返回首页</a></p>-
</div>

</body>
</html>