<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>信息增删</title>
  <style type="text/css">

  </style>
</head>
<body>
  <div class="table-div" ng-app="inde" ng-controller="info">
    <table>
      <tr>
        <th>姓名</th>
        <th>邮箱</th>
        <th>工资</th>
        <th></th>
      </tr>
      <tr ng-repeat="emp in emps">
        <td ng-bind="emp.username"></td>
        <td ng-bind="emp.email"></td>
        <td ng-bind="emp.salary"></td>
        <td><a href="deleteEmp?id=#" ng-click="deleteEmp($index)" onclick="return false">Delete</a></td>
      </tr>
    </table>
    <div class="input-div">
      <p><label for="username">姓名</label><input type="text" id="username" ng-model="emp.username"></p>
      <p><label for="email">邮箱</label><input type="text" id="email" ng-model="emp.email"></p>
      <p><label for="salary">工资</label><input type="text" id="salary" ng-model="emp.salary"></p>
      <p><button type="button" ng-click="add()">添加</button></p>
    </div>
  </div>
  <!--引入angular-->
  <script type="text/javascript" src="../../angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>