
@font-face {
    font-family: 'breeze_personal_useregular';
    src: url('fonts/breeze_personal_use-webfont.woff2') format('woff2'),
    url('fonts/breeze_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'soulmaker_in_the_mountainsRg';
    src: url('fonts/soulmaker_in_the_mountains-webfont.woff2') format('woff2'),
    url('fonts/soulmaker_in_the_mountains-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}